* {
  padding: 0;
  margin: 0;
}

header {
  background-color: black;
  position: sticky;
  top: 0px;
  font-size: large;
  height: 15vh;
  color: aliceblue;
  padding-left: 5%;
}

.links {
  text-align: right;
}

.container {
  border-style: groove;
  border-color: rgb(34, 33, 33);
  text-align: center;
}

.submit-login {
  margin-top: 25px;
  width: 25%;
}

.footer-list {
  background-color: black;
  color: white;
  border-style: solid;
  /* position: fixed;
  bottom: 0px; */
  width: 100%;
  height: 60px;
  text-align: center;
}

a:hover {
  color: red;
}

i:hover {
  color: rgba(52, 156, 78, 0.938);
}
